# /docker/.env.example

# --- System Variables ---
PUID=1000
PGID=1000
TZ=America/New_York
#SERVER_IP=100.123.210.84

# --- Network Variables ---
#DOMAIN=myawesomeserver.com
#ACME_EMAIL=ryan@switchitoffcie.com

# --- PATHS ---
# Using absolute paths here makes your Compose files much cleaner
DOCKER_ROOT=/docker
APPS_DATA=${DOCKER_ROOT}/apps
HOME_DATA=${DOCKER_ROOT}/home
NETWOROK_DATA=${DOCKER_ROOT}/network
#MEDIA_DIR=/mnt/storage/media
#DATA_DIR=/mnt/storage/data


# --- APP SECRETS ---

# --- Cloudflare ---
# Put your Cloudflare Tunnel token here (the long string after '--token')
CLOUDFLARE_TUNNEL_TOKEN=Cloudflare-Tunnel-Token

# --- Homarr ---
# Homarr requires a 64-character secret. Generate in terminal with: openssl rand -hex 32
HOMARR_ENCRYPTION_KEY=Homarr-Encryption-Key

# --- Bookstack ---
# --- Bookstack & Database Variables ---
DB_ROOT_PASSWORD=root-pass
BOOKSTACK_DB_NAME=dbname
BOOKSTACK_DB_USER=dbuser
BOOKSTACK_DB_PASS=dbpass
# Bookstack requires a 32-character base64 encryption key for sessions.
# You can generate a real one in your terminal by running: echo "base64:$(openssl rand -base64 32)"
BOOKSTACK_APP_KEY=Bookstack-App-Key


DB_PASSWORD=

# --- Adgaurd ---
ADGUARD_PASSWORD=Adguard-Pass

# --- Beszel ---
API_KEY_BESZEL=your_agent_key_here