# --- Secrets and Configs ---
.env
*.env
secrets/

# --- Application Data (The heavy/private stuff) ---
# This ignores all subfolders named 'db', 'data', or 'storage' 
# inside your apps directory.
**/data/
backups/
.tar.gz

# --- OS Junk ---
.DS_Store
thumbs.db
.idea/
.vscode/

# --- paperless-ngx specific ---

# Ignore the entire paperless-db directory, including any subdirectories or files within it.
**/paperless-db/ 
# Ignore the entire paperless-data directory, including any subdirectories or files within it.
**/paperless-data/ 
# Ignore the entire paperless-media directory, including any subdirectories or files within it.
**/paperless-media/ 
# Ignore the entire paperless-export directory, including any subdirectories or files within it.
**/paperless-export/ 
# Ignore the entire paperless-consume directory, including any subdirectories or files within it.
**/paperless-consume/ 
# Ignore the entire redis-data directory, including any subdirectories or files within it.
**/redis-data/ 
